@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
* {
    padding: 0;
    margin: 0;
}
html, body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: #262223;

}
/* Headeris-Pradzia */

.container {
    width: 1200px;
    margin: 0 auto;
}
.top {
    position: relative;
    box-shadow: 0 0 1pt 0 rgba(0,0,0,0.2), 0 1pt 5pt 0 rgba(0,0,0,0.19);

}
#logo {

    float: left;
    position: relative;
}
/* Headeris-Navigacija*/

.navigacija {
    float:right;
    line-height: 90px;

}

.navigacija ul {
    list-style-type: none;
}

.navigacija li {
    display: inline;
 }
div.clear {
    clear: both;

}

.mygtukas1, .mygtukas2 {

    border: none;
    color: black;
    text-decoration: none;
    font-size: 11.5pt;
    cursor: pointer;
}

.mygtukas1{
    margin: 0 22px 0 22px;
}
.mygtukas1:hover{
    color: #9AD90E;
    transition-duration: 0.2s
}

.mygtukas2 {

    border: 2px solid #9ad90e;
    border-radius: 20px;
    color: #9ad90e;
    padding: 6px 30px 6px 30px;
    margin-left: 22px;
}

.mygtukas2:hover{
    color: #7ebd0e;
    border-color: #7ebd0e;
    transition-duration: 0.2s
}
/* Pirma sekcija-Pradzia  */

.kava {
    height: 500px;
    background-color: #7ee174;
}

.didelis-tekstas {
    padding: 80px 0 0 0;
    font-size: 30px;
    font-weight: normal;
    text-align: center;

}

.mazas-tekstas {
    text-align: center;
    padding: 20px;
    margin: auto 250px;
    font-size: 11pt;

}

.mazas-tekstas img {
    width: 300px;
    height: 180px;
    padding: 20px 0;
}
